<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
    <!--Container for metadata(is not displayed)
    Title, Styles, Link, Scripts, Meta and other
    -->
    <meta name = "Aigerim">

</head>
<body>


    Welcome to the Java Spring Developer Course !!!

    <h1>Spring Boot</h1>
    <h2>Java</h2>
    <h3>Data Structures</h3>

    <h1 align="center" style="color: red">Spring Framework</h1>

    <img src="springboot.png">


    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>

    </ul>

    <a href = "https://manuka.com.tr">Manuka</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collections</td>
            <td>Streams</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

    <!--FORMS-->

    <label>UserName:</label>
    <input type ="text" name="username"><br>
    <label>Password:</label>
    <input type = "password"><br>
    <lable>Enter your comments</lable>
    <textarea name="Comments"></textarea>


    <label>Please select your favourite subject:</label><br>
    <input type = "radio" name="Spring" value = "IoC" checked="checked">
    <input type = "radio" name="Spring" value = "MVC" > MVC
    <input type = "radio" name="Spring" value = "Streams" > Streams

    <label>Please select your company:</label><br>
    <input type = "checkbox" name = "company" value = "Accenture"> ACN
    <input type = "checkbox" name = "company" value = "Verizon"> VZ
    <input type = "checkbox" name = "company" value = "Comcast"> COM
    <input type = "checkbox" name = "company" value = "JP Morgan CHase"> JP


    <label> Select your car: </label>
    <select name = "cars">
        <option value = "Honda">Honda</option>
        <option value = "Toyota">Toyota</option>
        <option value = "Nissan">Nissan</option>
    </select>

    <form action ="#" method = "get">
        First name: <input type="text"  name="firstName"/>
        <br>
        Last name: <input type ="text" name="lastName"/>
    </form>

    <div>
        <h3>This is Java Dev Course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Unit Testing</li>
        </ul>
    </div>







</body>





</html>